@import url('https://fonts.googleapis.com/css?family=Quicksand');

#time{
    font-size: 4rem;
    margin-top: 20%;
    font-family: 'Quicksand', sans-serif;
    color: white;
    position: center;
}

.container{
    text-align: center;
}