@import url('https://fonts.googleapis.com/css?family=Quicksand');

*{
    font-family: 'Quicksand', sans-serif;
}

#time{
    font-size: 4rem;
    margin-top: 20%;
    color: white;
    position: center;
}

.container{
    text-align: center;
}

#info{
    top: 10px;
    right: -95%;
    position: relative;
    color:white;
    cursor: pointer;
}